<h1 class="text-center">Login Form</h1>
<div class="row">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
        <form>
            <div class="mb-3">
              <label for="un" class="form-label">Username</label>
              <input type="text" class="form-control" id="un" name="username">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="pw" class="form-label">Password</label>
              <input type="password" class="form-control" id="pw" name="password">
            </div>
            <button type="submit" class="btn btn-primary mx-auto m-4">Login</button>
          </form>
    </div>
    <div class="col-sm-2 col-md-3 "></div>
</div>

