<h1 class="text-center">Edit Product Details</h1>
<div class="row">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
        <form [formGroup]="editForm" (submit)="onSubmit()">
          <div class="mb-3">
            <label for="un" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="un"  formControlName="name">
          </div>
            <div class="mb-3">
              <label for="un" class="form-label">Brand </label>
              <input type="text" class="form-control" id="unn"  formControlName="brand">
            </div>
            <div class="mb-3">
              <label for="pw" class="form-label">Price</label>
              <input type="text" class="form-control" id="pw" formControlName="price">
            </div>
            <div class="mb-3">
                <label for="em" class="form-label">Rating</label>
                <input type="text" class="form-control" id="em" formControlName="Rating">
              </div>
              <div class="mb-3">
                <label for="dob" class="form-label">Image link</label>
                <input type="text" class="form-control" id="dob"  formControlName="image">
              </div>
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>

